.mail-env
  .mail-body
    -#.mail-header
    .panel.minimal.minimal-gray
      = form_tag message_path(params[:id]), method: :put do |f|
        .panel-body
          = text_area_tag :message, nil, class: 'form-control autogrow', placeholder: 'Введите ваше сообщение'
          %br
          = submit_tag 'Отправить', class: 'btn btn-success pull-right'
        .panel-body
          %br
          .timeline-centered
            - @messages.each do |msg|
              %article.timeline-entry{class: ('left-aligned' if msg.my?(current_user.id)) }
                .timeline-entry-inner
                  %time.timeline-time
                    %span= msg.created_at.strftime('%R')
                    %span= msg.created_at.strftime('%d %B')
                  .timeline-icon
                    = image_tag msg.user.avatar.thumb.url, class: 'img-circle', width: 44
                  .timeline-label
                    %h2= msg.user.full_name
                    %p= msg.message

  = render 'sidebar'
