- content_for :project do
  .panel.panel-primary
    .panel-heading
      .panel-title
        = link_to 'Изменить', edit_project_milestone_path(@milestone.project, @milestone), class: 'btn btn-default get-modal'
        = link_to 'Удалить', project_milestone_path(@milestone.project, @milestone), class: 'btn btn-default', method: :delete
    .panel-body
      .row
        .col-sm-12
          = render partial: 'common/bar', locals: {progress: @milestone.progress}
      .row
        .col-lg-6
          %ul.list-group
            %li.list-group-item
              %span.pull-right= @milestone.name
              Имя этапа
            %li.list-group-item
              %span.pull-right= @project.name
              Имя проекта
        .col-lg-6
          %ul.list-group
            %li.list-group-item
              %span.pull-right= @milestone.start_date
              Начало
            %li.list-group-item
              %span.pull-right= @project.due_date
              Конец
      .row
        .col-sm-12
          %blockquote
            %p
              %strong Описание:
              = @milestone.description
    .panel-heading
      .panel-title Задачи
    .panel-body.with-table
      = render partial: 'tasks/tasks', locals: {tasks: @milestone.tasks}



