= form_tag project_tasks_path(params[:project_id]), class: 'form-horizontal', id: 'new_task' do

  .form-group
    = label_tag 'Шаблоны', nil, class: 'col-sm-4 control-label'
    .col-sm-5
      = select_tag :task_template, options_from_collection_for_select(@task_templates, :id, :name), class: 'form-control'

  .form-group
    = label_tag 'Этап', nil, class: 'col-sm-4 control-label'
    .col-sm-5
      = select_tag :milestone, options_from_collection_for_select(@milestones, :id, :name), class: 'form-control'

  .form-group
    = label_tag 'Ответственные', nil, class: 'col-sm-4 control-label'
    .col-sm-5
      = select_tag :user_ids, options_from_collection_for_select(@users, :id, :username), { class: 'form-control', multiple: true}

  .form-group
    = label_tag 'Дата конца', nil, class: 'col-sm-4 control-label'
    .col-sm-5
      .input-group
        = text_field_tag :due_date, nil, class: 'form-control datepicker', value: ( time_now )
        .input-group-addon
          = link_to '#' do
            %i.entypo-calendar