.row
  .col-md-6
    .form-group
      = label_tag 'Полное имя', nil, class: 'control-label'
      = text_field_tag 'full_name', nil, class: 'form-control', data: {validate: 'required', 'message-required' => 'Необходимое поле'}
  .col-md-6
    .form-group
      = label_tag 'Логин', nil, class: 'control-label'
      = text_field_tag 'username', nil, class: 'form-control', data: {validate: 'required', 'message-required' => 'Необходимое поле'}
.row
  .col-md-6
    .form-group
      = label_tag 'Email', nil, class: 'control-label'
      = text_field_tag 'email', nil, class: 'form-control', data: {validate: 'required,email', 'message-required' => 'Необходимое поле'}
  .col-md-6
    .form-group
      = label_tag 'Телефон', nil, class: 'control-label'
      = text_field_tag 'phone', nil, class: 'form-control'
.row
  .col-md-6
    .form-group
      = label_tag 'Пароль', nil, class: 'control-label'
      = password_field_tag 'password', nil, class: 'form-control', data: {validate: 'required', 'message-required' => 'Необходимое поле'}
  .col-md-6
    .form-group
      = label_tag 'Подтверждение пароля', nil, class: 'control-label'
      = password_field_tag 'password_confirmation', nil, class: 'form-control', data: {validate: 'required', 'message-required' => 'Необходимое поле'}
