%h3
  - if controller_name == 'users'
    Пользователи
    = link_to new_user_path, class: 'btn btn-blue btn-icon icon-left pull-right get-modal' do
      Новый пользователь
      %i.entypo-plus
  - elsif controller_name == 'permissions'
    Редактирование доступа персонала
%br
%table.pm-table.table.table-bordered.datatable
  %thead
    %tr
      %th Полное имя
      %th Email
      %th Компания
      %th Роль
      %th Зарегистрирован
      %th Аватар
      %th Параметры
  %tbody
    - @users.each do |user|
      %tr
        %td= user.full_name
        %td= user.email
        %td= user.company.name
        %td= user.role.translation
        %td= convert_time(user.created_at)
        %td= image_tag user.avatar.thumb.url, class: 'img-circle', width: 44
        %td.m-r= render partial: 'controls', locals: {user: user}
