%h3
  Пользователи
  = link_to new_user_path, type: 'button', class: 'btn btn-blue btn-icon icon-left pull-right get-modal' do
    Новый пользователь
    %i.entypo-plus
%br
%table.pm-table.table.table-bordered.datatable
  %thead
    %tr
      %th Полное имя
      %th Логин
      %th Компания
      %th Роль
      %th Зарегистрирован
      %th Аватар
      %th Параметры
  %tbody
    - @users.each do |user|
      %tr
        %td= user.full_name
        %td= user.username
        %td= user.company.name
        %td= user.role.name
        %td= user.created_at
        %td Аватар
        %td.m-r
          = link_to password_user_path(user), type: 'button', class: 'btn btn-default btn-icon icon-left btn-xs get-modal' do
            Смена пароля
            %i.entypo-lock
          = link_to edit_user_path(user), type: 'button', class: 'btn btn-default btn-xs get-modal' do
            %i.entypo-tools
          = link_to user_path(user), type: 'button', class: 'btn btn-default btn-xs', method: :delete, data: { confirm: 'Вы уверены?'} do
            %i.entypo-trash

