%h3
  Клиенты
%br
%table.pm-table.table.table-bordered
  %thead
    %tr
      %th Основная компания
      %th Пользователь
      %th Дата регистрации
      %th Колличество пользователей
      %th Количество клиентов
      %th Тариф
      %th Оплачено
      %th Параметры
  %tbody
    - @clients.each do |c|
      %tr
        %td
          - if c.owner_id == current_user.id
            = link_to  settings_general_path do
              %strong.text-info= c.main_company_name
            %small.text-muted вы владелец
          - else
            - if c.deleted?
              ПОМЕЧЕНА НА УДАЛЕНИЕ
            - else
              = c.main_company_name
        %td= c.owner_info
        %td= c.created_at.strftime("%d-%m-%Y")
        %td= c.users_count
        %td= c.companies_count
        %td= c.plan_info
        %td= c.paid_on
        %td.m-r
          = link_to client_path(c), type: 'button', class: 'btn btn-default btn-xs', method: :delete, data: { confirm: 'Вы уверены?', toggle: 'tooltip', placement: 'top', 'original-title' => 'Пометить на удаление' } do
            %i.entypo-trash
          = link_to client_path(c, destroy: true), type: 'button', class: 'btn btn-red btn-xs popover-secondary', method: :delete, data: { confirm: 'Вы уверены?', toggle: 'tooltip', placement: 'top', 'original-title' => 'Удалить полностью' } do
            %i.entypo-thumbs-down
