.panel.panel-default
  .panel-heading
    .panel-title
      Оплаченные счета
  .panel-body
    %ul.list-group
    - @payments.last(10).each do |payment|
      = link_to invoice_path(payment.invoice), class: 'list-group-item' do
        %strong= payment.invoice.reference_no
        = "-"
        = number_to_currency payment.amount
        .pull-right= status(payment.payment_method.name, 'badge')