.col-sm-3
  = link_to projects_path do
    .tile-stats.tile-aqua
      .icon
        %i.entypo-cup
      .num= @projects.count
      %h3= Russian::pluralize(@projects.count, 'Проект', 'Проекта', 'Проектов')
.col-sm-3
  = link_to messages_path do
    .tile-stats.tile-aqua
      .icon
        %i.entypo-mail
      .num= @message_count
      %h3= Russian::pluralize(@message_count, 'Сообщение', 'Сообщения', 'Сообщений')
- if current_user.admin?
  .col-sm-3
    = link_to invoices_path do
      .tile-stats.tile-aqua
        .icon
          %i.entypo-credit-card
        .num= @invoice_count
        %h3= Russian::pluralize(@invoice_count, 'Счет', 'Счета', 'Счетов')
.col-sm-3
  = link_to tickets_path do
    .tile-stats.tile-aqua
      .icon
        %i.entypo-publish
      .num= @tickets.count
      %h3= Russian::pluralize(@tickets.count, 'Заявка', 'Заявки', 'Заявок')
- if current_user.staff? || current_user.customer?
  .col-sm-3
    .tile-stats.tile-aqua
      .icon
        %i.entypo-calendar
      .num 0
      %h3 Задач
