.col-sm-3
  = link_to projects_path do
    .tile-stats.tile-aqua
      .icon
        %i.entypo-cup
      .num= @projects.count
      %h3= Russian::pluralize(@projects.count, 'Проект', 'Проекта', 'Проектов')
.col-sm-3
  = link_to messages_path do
    .tile-stats.tile-aqua
      .icon
        %i.entypo-mail
      .num= @message_count
      %h3= Russian::pluralize(@message_count, 'Сообщение', 'Сообщения', 'Сообщений')
.col-sm-3
  .tile-stats.tile-aqua
    .icon
      %i.entypo-credit-card
    .num 0
    %h3 Счетов
- if current_user.admin?
  .col-sm-3
    = link_to tickets_path do
      .tile-stats.tile-aqua
        .icon
          %i.entypo-publish
        .num= @tickets.count
        %h3= Russian::pluralize(@tickets.count, 'Заявка', 'Заявки', 'Заявок')
- elsif current_user.client?
  .col-sm-3
    .tile-stats.tile-aqua
      .icon
        %i.entypo-calendar
      .num 0
      %h3 Задач
