.row
  = render 'tiles'
.row
  .col-sm-8
    = render 'project_table'
  .col-sm-4
    - if current_user.admin?
      = render 'paid_invoices'
    - elsif current_user.staff? || current_user.customer?
      = render 'profile'

.row
  - if current_user.admin?
    .col-md-8
      = render 'common/history'
    .col-md-4
      = render partial: 'common/tickets', locals: {tickets: @tickets}
  - elsif current_user.staff? || current_user.customer?
    .col-md-8
      = render 'tickets'