.row
  = render 'tiles'
.row
  .col-sm-8
    = render 'project_table'
  .col-sm-4
    - if current_user.admin?
      = render 'paid_invoices'
    - elsif current_user.client?
      -#= render 'payments'
.row
  .col-md-8
    = render 'common/history'
  .col-md-4
    = render 'tickets'