.panel.panel-primary
  .panel-heading
    .panel-title
      %strong Все заявки
  .list-group
    - @tickets.each do |ticket|
      =link_to ticket_path(ticket), class: (@ticket.id == ticket.id ? 'list-group-item active' : 'list-group-item') do
        %strong= ticket.code
        .pull-right= status(ticket.status, 'label')
        %br
        %small= "#{ticket.user.full_name} | #{Russian::strftime(ticket.created_at, '%d %b %Y')}"