%h3
  Заявки
  = link_to new_ticket_path, type: 'button', class: 'btn btn-blue btn-icon icon-left pull-right get-modal' do
    Новая заявка
    %i.entypo-plus
%br
%table.pm-table.table.table-bordered.datatablee
  %thead
    %tr
      %th Код заявки
      %th Тема
      %th Проект
      %th Создатель
      %th Приоритет
      %th Статус
      %th Параметры
  %tbody
    - @tickets.each do |ticket|
      %tr
        %td
          .label.label-info= ticket.code
        %td
          %strong= link_to truncate(ticket.subject, length: 20), ticket_path(ticket), class: 'text-info'
        %td= "#{ticket.project.name} - #{ticket.project.company.name}" if ticket.project
        %td= ticket.user.full_name
        %td= ticket.priority
        %td= status(ticket.status, 'label')
        %td.m-r
          = link_to edit_ticket_path(ticket), type: 'button', class: 'btn btn-default btn-xs get-modal', data: { toggle: 'tooltip', placement: 'top', 'original-title' => 'Изменить' } do
            %i.entypo-tools
          = link_to ticket_path(ticket), type: 'button', class: 'btn btn-default btn-xs', method: :delete, data: { confirm: 'Вы уверены?', toggle: 'tooltip', placement: 'top', 'original-title' => 'Удалить' } do
            %i.entypo-trash

