.row
  .col-sm-3
    =render 'sidebar'
  .col-sm-9
    .panel.panel-primary
      .panel-heading
        .panel-title
          = link_to 'Изменить', edit_ticket_path(@ticket), class: 'btn btn-default get-modal'
        .panel-title.pull-right
          = link_to 'Удалить', '#', class: 'btn btn-default'
      .panel-body
        .row
          .col-sm-4
            .list-group
              .list-group-item
                Код
                .pull-right= @ticket.code
              .list-group-item
                Создал
                .pull-right= @ticket.user.full_name
              .list-group-item
                Статус
                .pull-right= status @ticket.status, 'label'
              .list-group-item
                Приоритет
                .pull-right= @ticket.priority
              .list-group-item
                Создан
                .pull-right= convert_time @ticket.created_at
              %hr
              %P
                Тема:
                %strong= @ticket.subject
              %blockquote
                = @ticket.body
          .col-sm-8
            %ul.comments-list
              %li
                = form_for [@ticket, @ticket_reply] do |f|
                  = f.text_area :body, class: 'form-control autogrow', placeholder: 'Ответ...'
                  %br
                  = f.submit 'Отправить', class: 'btn btn-success pull-right'

              - @ticket.ticket_replies.each do |tr|
                %li
                  .comment-details
                    .comment-head
                      = link_to tr.user.full_name, '#'
                      ответил:
                    %p.comment-text
                      = tr.body
                    .comment-footer
                      .comment-time= time_ago_in_words(tr.created_at)
                      .action-links

