%ul.nav.tabs-vertical
  %li{class: ('active' if action_name == 'show')}
    = link_to project_path(@project) do
      %i.entypo-home
      Главная

  - if can? :team, @project
    %li{class: ('active' if action_name == 'team')}
      = link_to team_project_path(@project) do
        %i.entypo-users
        Команда

  - if can? :read, Milestone
    %li{class: ('active' if controller_name == 'milestones')}
      = link_to project_milestones_path(@project) do
        %i.entypo-monitor
        Этапы

  - if can? :read, Task
    %li{class: ('active' if controller_name == 'tasks')}
      = link_to project_tasks_path(@project) do
        %i.entypo-doc-text-inv
        Задачи

  - if can? :permission, @project
    %li{class: ('active' if action_name == 'permissions')}
      = link_to permissions_project_path(@project) do
        %i.entypo-cog
        Доступ

  %li
    = link_to '#' do
      %i.entypo-archive
      Файлы
  %li
    = link_to '#' do
      %i.entypo-clock
      Табель