%ul.nav.tabs-vertical
  %li{class: ('active' if action_name == 'show' && controller_name == 'projects')}
    = link_to project_path(@project) do
      %i.entypo-home
      Главная

  - if can? :read, TeamController
    %li{class: ('active' if controller_name == 'team')}
      = link_to project_team_index_path(@project) do
        %i.entypo-users
        Команда

  - if can? :read, Milestone
    %li{class: ('active' if controller_name == 'milestones')}
      = link_to project_milestones_path(@project) do
        %i.entypo-monitor
        Этапы

  - if can? :read, Task
    %li{class: ('active' if controller_name == 'tasks')}
      = link_to project_tasks_path(@project) do
        %i.entypo-doc-text-inv
        Задачи
        - if @project.active_tasks(current_user).any?
          %span.badge.badge-secondary.pull-right= @project.active_tasks(current_user).count

  - if can? :permission, Permission
    %li{class: ('active' if action_name == 'permissions')}
      = link_to new_project_permission_path(@project) do
        %i.entypo-cog
        Доступ

  - if can? :read, Attachment
    %li{class: ('active' if controller_name == 'attachments')}
      = link_to project_attachments_path(@project) do
        %i.entypo-archive
        Файлы

  - if can? :read, TimeEntry
    %li{class: ('active' if controller_name == 'time_entries')}
      = link_to project_time_entries_path(@project) do
        %i.entypo-clock
        Табель

  - if can? :read, HistoriesController
    %li{class: ('active' if controller_name == 'histories')}
      = link_to project_histories_path(@project) do
        %i.entypo-vcard
        История