%h3
  Проекты
  = link_to new_project_path, type: 'button', class: 'btn btn-blue btn-icon icon-left pull-right get-modal' do
    Новый проект
    %i.entypo-plus
%br
%table.pm-table.table.table-bordered.datatable
  %thead
    %tr
      %th Имя проекта
      %th Дата начала
      %th Дата конца
      %th Стоимость
      %th Параметры
  %tbody
    - @projects.each do |project|
      %tr
        %td= link_to project.title, project_path(project), class: 'text-info'
        %td= project.start_date
        %td= project.due_date
        %td Стоимость
        %td Параметры
= render 'common/flash'