%h3
  Проекты
  = link_to new_project_path, type: 'button', class: 'btn btn-blue btn-icon icon-left pull-right get-modal' do
    Новый проект
    %i.entypo-plus
%br
%table.pm-table.table.table-bordered.datatable
  %thead
    %tr
      %th Имя проекта
      %th Дата начала
      %th Дата конца
      %th Стоимость
      %th Параметры
  %tbody
    - @projects.each do |project|
      %tr
        %td
          = link_to project_path(project) do
            %strong.text-info= project.name
        %td= project.start_date
        %td= project.due_date
        %td= number_to_currency project.cost
        %td.m-r
          = link_to edit_project_path(project), type: 'button', class: 'btn btn-default btn-xs get-modal', data: { toggle: 'tooltip', placement: 'top', 'original-title' => 'Изменить' } do
            %i.entypo-tools
          = link_to project_path(project), type: 'button', class: 'btn btn-default btn-xs', method: :delete, data: { confirm: 'Вы уверены?', toggle: 'tooltip', placement: 'top', 'original-title' => 'Удалить' } do
            %i.entypo-trash
