= form_for @project, html: { class: 'form-horizontal' } do |f|
  .form-group
    =f.label 'Имя проекта', nil, class: 'col-sm-4 control-label'
    .col-sm-5
      =f.text_field :title, class: 'form-control'

  .form-group
    =f.label 'Клиент', nil, class: 'col-sm-4 control-label'
    .col-sm-5
      =f.collection_select :company_id, @companies, :id, :name, class: 'form-control'

  .form-group
    =f.label 'Ответственные', nil, class: 'col-sm-4 control-label'
    .col-sm-5
      = fields_for :users, @users do |user|
        = user.collection_select :id, @users, :id, :username, {selected: @project.users.ids}, { class: 'form-control', multiple: ''}

  .form-group
    =f.label 'Прогресс', nil, class: 'col-sm-4 control-label'
    .col-sm-5
      %br
      #slider.slider.slider-blue
      =f.number_field :progress, class: 'form-control hide'

  .form-group
    =f.label 'Дата начала', nil, class: 'col-sm-4 control-label'
    .col-sm-5
      .input-group
        =f.text_field :start_date, class: 'form-control datepicker'
        .input-group-addon
          = link_to '#' do
            %i.entypo-calendar

  .form-group
    =f.label 'Дата конца', nil, class: 'col-sm-4 control-label'
    .col-sm-5
      .input-group
        =f.text_field :due_date, class: 'form-control datepicker'
        .input-group-addon
          = link_to '#' do
            %i.entypo-calendar

  .form-group
    =f.label 'Фиксированная цена', nil, class: 'col-sm-4 control-label'
    .col-sm-5
      .make-switch.switch-small
        =f.check_box :fixed_price, {}, @project.fixed_price

  .form-group.pm-price
    =f.label 'Стоимость часа', nil, class: 'col-sm-4 control-label'
    .col-sm-5
      =f.number_field :hourly_rate, class: 'form-control'

  .form-group.pm-price{style: 'display: none'}
    =f.label 'Общая стоимость', nil, class: 'col-sm-4 control-label'
    .col-sm-5
      =f.number_field :fixed_rate, class: 'form-control'

  .form-group
    =f.label 'Общее количество часов', nil, class: 'col-sm-4 control-label'
    .col-sm-5
      =f.number_field :estimated_hours, class: 'form-control'

  .form-group
    =f.label 'Описание', nil, class: 'col-sm-4 control-label'
    .col-sm-5
      =f.text_area :description, class: 'form-control'
