- content_for :project do
  .row
    .col-lg-12
      = render partial: 'common/bar', locals: {progress: @project.progress}
  .row
    .col-lg-6
      %ul.list-group
        %li.list-group-item
          %span.pull-right= @project.name
          Имя проекта
        %li.list-group-item
          %span.pull-right= @project.company.name
          Имя клиента
        %li.list-group-item
          %span.pull-right= @project.start_date
          Начало
        %li.list-group-item
          %span.pull-right= @project.due_date
          Конец
    .col-lg-6
      %ul.list-group
        %li.list-group-item
          %span.pull-right= time_interval_to_human(@logged_time)
          Потраченно время
        %li.list-group-item
          %span.pull-right= number_to_currency @project.cost
          Стоимость
        %li.list-group-item
          %span.pull-right= @project.users.pluck(:full_name).join(', ')
          Ответственные
        %li.list-group-item
          %span.pull-right
          четвертая опция
  %hr
  .row
    .col-lg-6
      .panel.panel-primary
        .panel-heading
          .panel-title Задачи прогресс бар
        .panel-body
    .col-lg-6
      = render 'files'
  .row
    .col-lg-6
      = render 'tasks'
    .col-lg-6
      .panel.panel-primary
        .panel-heading
          .panel-title Последние баги
        .panel-body

