- content_for :project do
  .row
    .col-lg-12
      = render partial: 'common/bar', locals: {progress: @project.progress}
  .row
    .col-lg-6
      %ul.list-group
        %li.list-group-item
          %span.pull-right= @project.name
          Имя проекта
        %li.list-group-item
          %span.pull-right= @project.company.name
          Имя клиента
        %li.list-group-item
          %span.pull-right= @project.start_date
          Начало
        %li.list-group-item
          %span.pull-right
            = status('просрочен') if @project.overdue?
            = @project.due_date
          Конец
    .col-lg-6
      %ul.list-group
        %li.list-group-item
          %span.pull-right= time_interval_to_human(@logged_time)
          Потраченно время
        - if can? :cost, Project
          %li.list-group-item
            %span.pull-right= number_to_currency @project.cost
            Стоимость
        %li.list-group-item
          %span.pull-right= @project.users.pluck(:full_name).join(', ')
          Ответственные
        -#%li.list-group-item
        -#  %span.pull-right
        -#  четвертая опция
  %hr
  .row
    .col-lg-6
      = render 'tasks'
    .col-lg-6
      = render partial: 'common/tickets', locals: {tickets: @project.tickets}
  - if can? :read, Attachment
    .row
      .col-lg-6
        = render 'files'


