- content_for :project do
  .panel.panel-primary
    .panel-heading
      .panel-title
        = link_to 'Изменить', '#', class: 'btn btn-default'
    .panel-body.with-table
      %table.pm-table.table.table-bordered.datatable
        %thead
          %tr
            %th Аватар
            %th Email
            %th Полное имя
            %th Телефон
            %th Email
        %tbody
          - @project.users.each do |member|
            %tr
              %td Картинка
              %td= member.email
              %td= member.full_name
              %td= member.phone
              %td= member.email