.panel.panel-default.panel-shadow
  .panel-heading
    .panel-title
      %i.entypo-user
      Контакты
    .panel-title.pull-right
      %div
        = link_to new_company_user_path(@company), class: 'btn btn-blue btn-icon icon-left get-modal' do
          Новый пользователь
          %i.entypo-plus
  .panel-body.with-table
    %table.table.table-bordered
      %thead
        %tr
          %th Полное имя
          %th Email
          %th Телефон
          %th Последний вход
          %th Параметры
      %tbody
        - @company.users.each do |user|
          %tr
            %td= user.full_name
            %td= user.email
            %td= user.phone
            %td= convert_time(user.last_sign_in_at)
            %td.m-r
              = link_to primary_company_user_path(@company, user), class: 'btn btn-default btn-xs', data: { toggle: 'tooltip', placement: 'top', 'original-title' => 'Основной'} do
                %i.entypo-link{class: ('text-danger' if @company.contact && user.id == @company.contact.id)}
              = link_to edit_user_path(user), class: 'btn btn-default btn-xs get-modal', data: { toggle: 'tooltip', placement: 'top', 'original-title' => 'Изменить'} do
                %i.entypo-tools
              = link_to user_path(user), class: 'btn btn-default btn-xs', method: :delete, data: { confirm: 'Вы уверены?', toggle: 'tooltip', placement: 'top', 'original-title' => 'Удалить'} do
                %i.entypo-trash


