%h3
  Зарегистрированые компании
  = button_tag type: 'button', id: 'new-company', class: 'btn btn-blue btn-icon icon-left pull-right' do
    Новая компания
    %i.entypo-plus
%br
%table#companies-table.table.table-bordered.datatable
  %thead
    %tr
      %th Имя компании
      %th Контакты
      %th Основной контакт
      %th Email
      %th Параметры
  %tbody
    - @companies.each do |company|
      %tr
        %td= link_to company.name, company_path(company), class: 'text-info'
        %td
          %span.badge.badge-primary 0
        %td Основной
        %td= company.email
        %td
          = link_to company_path(company), type: 'button', class: 'btn btn-default btn-xs' do
            %i.entypo-home
          = link_to company_path(company), type: 'button', class: 'btn btn-default btn-xs', method: :delete, data: { confirm: 'Вы уверены?'} do
            %i.entypo-trash



#company-new-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        = button_tag '×', type: 'button', class: 'close', data: { dismiss: 'modal'}, html: { 'aria-hidden' => 'true' }
        %h4.modal-title Новая компания
      .modal-body
        = form_tag nil, class: 'validate' do
          = render 'form'
      .modal-footer
        = button_tag 'Закрыть', type: 'button', class: 'btn btn-default', data: { dismiss: 'modal'}
        = button_tag 'Сохранить', type: 'button', id: 'company-save', class: 'btn btn-info'
