%h3
  Зарегистрированые компании
  = link_to new_company_path, type: 'button', class: 'btn btn-blue btn-icon icon-left pull-right get-modal' do
    Новая компания
    %i.entypo-plus
%br
%table#companies-table.table.table-bordered.datatable
  %thead
    %tr
      %th Имя компании
      %th Контакты
      %th Основной контакт
      %th Email
      %th Параметры
  %tbody
    - @companies.each do |company|
      %tr
        %td= link_to company.name, company_path(company), class: 'text-info'
        %td
          %span.badge.badge-primary 0
        %td Основной
        %td= company.email
        %td
          = link_to company_path(company), type: 'button', class: 'btn btn-default btn-xs' do
            %i.entypo-home
          = link_to company_path(company), type: 'button', class: 'btn btn-default btn-xs', method: :delete, data: { confirm: 'Вы уверены?'} do
            %i.entypo-trash
#company-new-modal.modal.fade
