.panel.panel-default
  .panel-body
    %ul.cbp_tmtimeline
      - @versions.each do |version|
        %li
          %time.cbp_tmtime
            %span= version.created_at.strftime('%R')
            %span= time_ago_in_words(version.created_at)
          .cbp_tmicon
            = image_tag current_user.avatar.file.thumb.url, class: 'img-circle', width: 44
            -#%i.entypo-user
          .cbp_tmlabel
            %h2= name_for_versions(version.whodunnit)
            %p= "#{I18n.t(version.event)} #{I18n.t(version.item_type.downcase)} #{get_name(version)}"

