.row
  .col-md-6.col-sm-8.clearfix
    %ul.user-info.pull-left.pull-none-xsm
      %li.profile-info.dropdown
        = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
          = image_tag current_user.avatar.file.thumb.url, width: 44, class: 'img-circle'
          = current_user.full_name
        %ul.dropdown-menu
          %li.caret
          %li
            = link_to profile_index_path do
              %i.entypo-user
              Профиль

  .col-md-6.col-sm-4.clearfix.hidden-xs
    %ul.list-inline.links-list.pull-right
      %li.notifications.dropdown.language-selector
        = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown', hover: 'dropdown', 'close-others' => true} do
          Задачи:
          %i.entypo-list
            - if active_task.any?
              %span.badge.badge-secondary= active_task.count
            - else
              %span.badge.badge-success= user_tasks.count
        %ul.dropdown-menu.pull-right
          %li.top
            - if user_tasks.any?
              %p Клик по задаче запускает таймер
            - else
              %p У Вас нет назначенных задач
          %li
            %ul.dropdown-menu-list.scroller
              - user_tasks.each do |task|
                - if task.active(current_user).any?
                  %li.notification-secondary
                    = link_to time_entry_path(id: task.active(current_user).first), method: :put do
                      %i.entypo-stop.pull-right.m-r-t
                      .row
                        .col-sm-10
                          %span.task
                            %span.desc= task.name
                            %span.percent= "#{task.progress}%"
                          = render partial: 'common/bar', locals: {progress: task.progress}
                - else
                  %li.notification-primary
                    = link_to new_time_entry_path(task_id: task.id) do
                      %i.entypo-play.pull-right.m-r-t
                      .row
                        .col-sm-10
                          %span.task
                            %span.desc= task.name
                            %span.percent= "#{task.progress}%"
                          = render partial: 'common/bar', locals: {progress: task.progress}
      %li.sep
      %li
        = link_to destroy_user_session_path, method: :delete do
          Выход
          %i.entypo-logout.right
