.row
  .col-md-6.col-sm-8.clearfix
    %ul.user-info.pull-left.pull-none-xsm
      %li.profile-info
        = link_to profile_index_path do
          = image_tag current_user.avatar.thumb.url, width: 44, class: 'img-circle'
          = current_user.full_name
      %li.pm-btn-group
        = render 'common/button'
      %li.notifications.dropdown
        = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown', hover: 'dropdown', 'close-others' => true} do
          %i.entypo-list
            - if active_task.any?
              %span.badge.badge-secondary= active_task.count
            - else
              %span.badge.badge-warning= user_tasks.count
        %ul.dropdown-menu
          %li.top
            - if user_tasks.any?
              %p Клик по задаче запускает таймер
            - else
              %p У Вас нет назначенных задач
          %li
            %ul.dropdown-menu-list.scroller
              - user_tasks.each do |task|
                - if task.active(current_user).any?
                  %li.notification-secondary
                    = link_to time_entry_path(id: task.active(current_user).first), method: :put do
                      %i.entypo-stop.pull-right.m-r-t
                      .row
                        .col-sm-10
                          %span.task
                            %span.desc= task.name
                            %span.percent= "#{task.progress}%"
                          = render partial: 'common/bar', locals: {progress: task.progress}
                - else
                  %li.notification-primary
                    = link_to new_time_entry_path(task_id: task.id) do
                      %i.entypo-play.pull-right.m-r-t
                      .row
                        .col-sm-10
                          %span.task
                            %span.desc= task.name
                            %span.percent= "#{task.progress}%"
                          = render partial: 'common/bar', locals: {progress: task.progress}



  .col-md-6.col-sm-4.clearfix.hidden-xs
    %ul.list-inline.links-list.pull-right
      %li= render 'common/plan'
      %li
        - unless current_user.client.plan.unlimited?
          = link_to '#', class: 'btn btn-default btn-icon' do
            Продлить
            %i.entypo-credit-card
      %li.sep
      %li
        = link_to destroy_user_session_path, method: :delete do
          Выход
          %i.entypo-logout.right
