.sidebar-menu
  .sidebar-menu-inner
    %header.logo-env
      .logo
        = link_to root_path do
          = image_tag 'logo@2x.png', width: 120
      .sidebar-collapse
        = link_to '#', class: 'sidebar-collapse-icon' do
          %i.entypo-menu
      .sidebar-mobile-menu.visible-xs
        = link_to '#', class: 'with-animation' do
          %i.entypo-menu
  %ul#main-menu.main-menu

    %li{class: ('active' if controller_name == 'home')}
      = link_to root_path do
        %i.entypo-gauge
        %span.title Главная

    - if can? :read, Company
      %li{class: ('active' if controller_name == 'companies')}
        = link_to companies_path do
          %i.entypo-users
          %span.title Клиенты

    %li{class: ('active' if controller_name == 'projects')}
      = link_to projects_path do
        %i.entypo-cup
        %span.title Проекты

    - if can?(:read, Invoice) || can?(:read, Payment)
      %li
        = link_to '#' do
          %i.entypo-basket
          %span.title Продажи
        %ul{class: ('visible' if %w(invoices payments).include?(controller_name))}

          - if can?(:read, Invoice)
            %li{class: ('active' if controller_name == 'invoices')}
              = link_to invoices_path do
                %span.title Счета

          - if can?(:read, Payment)
            %li{class: ('active' if controller_name == 'payments')}
              = link_to payments_path do
                %span.title Платежи

    - if can?(:read, EmailTemplate) || can?(:read, MilestoneTemplate) || can?(:read, ItemTemplate)
      %li{class: ('active' if controller_name == 'templates')}
        = link_to templates_path do
          %i.entypo-list
          %span.title Шаблоны

    %li{class: ('active' if controller_name == 'messages')}
      = link_to messages_path do
        %i.entypo-mail
        %span.title Сообщения

    %li{class: ('active' if controller_name == 'tickets')}
      = link_to tickets_path do
        %i.entypo-ticket
        %span.title Заявки

    - if can? :index, Setting
      %li
        = link_to '#' do
          %i.entypo-cog
          %span.title Настройки

        %ul{class: ('visible' if %w(settings email_templates permissions).include?(controller_name))}
          %li{class: ('active' if controller_name == 'settings')}
            = link_to settings_general_path do
              %span.title Общие

          %li{class: ('active' if controller_name == 'email_templates')}
            = link_to email_templates_path do
              %span.title Шаблоны для писем

          %li{class: ('active' if controller_name == 'permissions')}
            = link_to permissions_path do
              %span.title Разрешения для персонала

    - if can? :index, User
      %li{class: ('active' if controller_name == 'users')}
        = link_to users_path do
          %i.entypo-lock
          %span.title Пользователи

    - if current_user.root?
      %li
        = link_to '#' do
          %i.entypo-cog
          %span.title root меню

        %ul{class: ('visible' if %w(clients plans permissions).include?(controller_name))}
          %li{class: ('active' if controller_name == 'clients')}
            = link_to clients_path do
              %span.title Глобальные клиенты

          %li{class: ('active' if controller_name == 'plans')}
            = link_to plans_path do
              %span.title Тарифы

          %li{class: ('active' if controller_name == 'permissions')}
            = link_to default_emails_path do
              %span.title email шаблоны по-умолчанию