!!!
%html
  %head
    %title Pm
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'login' if controller_name == 'sessions'
    = csrf_meta_tags
  %body.page-body{ class: ('login-page login-form-fall' if %w(clients sessions passwords).include?(controller_name) && !(action_name == 'edit' && controller_name == 'clients')) }
    - if content_for? :login
      = yield :login
      = render 'common/flash'
    - elsif content_for? :wizard
      .container
        = yield :wizard
    - else
      .page-container
        = render 'common/sidebar'
        .main-content
          = render 'common/profile'
          %hr
          - if content_for? :project
            .tabs-vertical-env
              = render 'projects/menu'
              .tab-content
                .panel
                  .panel-body
                    = render 'projects/header'
                  .panel-body
                    = yield :project
          - else
            = yield
          = render 'common/flash'
          #new-modal.modal.fade

